<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram</title>
</head>
<body onload="{#setTimeout(function() { window.print() }, 5000);#}">
    <style media="all">
        @page {
            margin: 0;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
        }
        #photo {
            width:480px;
            height:708px;
            float:left;
            z-index:2;
            position: absolute;
        }
        #text {
            margin:530px 0px 0 175px;
            position: absolute;
            float:left;
            width:443px;
            height:200px;
            z-index:3;
            font-size: 11px;
        }
        h3, h2{ margin:2px; padding:0px; color: darkblue }
    </style>
    <div id="text">
        {# comment #}
        <img src="{{ picture.username_profile_picture }}" width="20" height="20">
        <h2>@{{ picture.username }}</h2>
        <h2>{{ picture.caption|truncate(30) }}</h2>
    </div>
    <div id="photo">
        <img width="480" height="708" style="width: 480px;height: 708px;" src="{{ asset('assets/photo/' ~ picture.picture_id) }}.jpg" />
    </div>
</body>
</html>